<%= render "answer_feedback" %>

<h2><%= @category.category %> Quiz</h2>
<h3>Question <%= @question.index %> of  <%= @category.questions.count %>:</h3>

<%= render "form" %>

<footer class ="score_counter">
  Score: <%= @category.points_earned %> / <%= @category.points_possible %>
</footer>
